<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

     <h1>You can Add New Song Here !!!!</h1>
     <form action="/addSong" method="post">
         <label>Name:</label>
         <input type="text" name="name"/>
         <br>
         
         <label>Artist:</label>
         <input type="text" name="artist"/>
         <br>
         
         <label>Poster Link:</label>
         <input type="text" name="posterLink"/>
         <br>
         
         <label>Genre:</label>
         <input type="text" name="genre"/>
         <br>
         
         <label>Link</label>
         <input type="text" name="link"/>
         <br>
         
         <input type="submit" name="add" value="Add" />
         
     </form>

</body>
</html>