<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Reset Password</h1>
<form action="/resetPassword" method="post">
   <input type="email" name="email" placeholder="Enter Your Email"/>
   
   <label for="securityQuestion">Select Security Question</label> 
	<select name="securityQuestion" id="securityQuestion" >
	     <option value="animal"> What is your Favorite Animal?</option>
	     <option value="food"> What is your Favorite Food?</option>
	     <option value="color"> What is your Favorite Color?</option>
	</select>
	<input type="text" name="securityAnswer" /> 
	<br> 
   <input type="submit" />

</form>

</body>
</html>